ion-toast{
    --background:white !important;
    --color:black !important;
}
.padding_img{
    padding: 5px;
}
.alto_slide {
    height: 441px;
}
.ancho_slide{
    width: 100% !important;
}
.paddin_col {
    padding: 0 !important;
}
