<ion-header no-border translucent>

  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-text>
      <ion-label>
        {{ data.categoria }}
      </ion-label>
    </ion-text>
    <ion-button color="primary" fill="clear" slot="end" [routerLink]="['/chech']">
      <ion-icon class="logo_notificacion" size="large" name="cart" [routerLink]="['/chech']"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-searchbar placeholder="Buscar Ecomerce" [(ngModel)]="searchtxt" (change)="search()"> </ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="100">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of list_articulo.data" [routerLink]="['/productoview', item.id]" class="p-1">
      <div slot="start">
        <img class="img_dimenciones rounded" [src]="item.foto">
      </div>
      <ion-label>
        <h2>{{ item.titulo }}</h2>
        <h3>{{ item.estado }}</h3>
        <p>{{ item.costopromosion || item.costoventa  }}</p>
        <p>¡Compralo ahora!</p>
        <p>{{ item.envio || 'envio'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData( $event )"
                        >
      <ion-infinite-scroll-content loadingSpinner="crescent"
                                   loadingtext="Cargando data..">
  
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>