.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  .img_dimenciones{
      height: 177px;
      width: 119px;
      align-items: center;
  }
  .button_radius {
    border-radius: 50px;
    background: red;
  }
  .btn_home{
    background: white;
  }
  .bg_secondary_light {
    background-color: #e2e2e2;
  }
  .bg_dark_ {
    background-color: #222428;
  }
  .border_radius{
    border-radius: 10px;
  }